[Unit]
Description="Inicia o logsync periodicamente"

[Timer]
Unit=/etc/systemd/system/logsync.service
Persistent=True
OnCalendar=*-*-* 02:00:00

[Install]
WantedBy=multi-user.target
